<div class="container">
  <div class="accordion" id="accordion">

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#basicInfo">
          Basic Information
        </a>
      </div>
      <div style="height: 0;" id="basicInfo" class="accordion-body collapse">
        <div class="accordion-inner">

<div class = "row">
        <div class = "span8">
          <p> Name </p>
          <p> <%= @person.first_name + ' ' + @person.last_name %> </p>
        </div>
        <div class = "span3">
          <p> Gender </p>
          <p> <%= @person.gender %> </p>
        </div>
</div>

<div class = "row">

        <div class = "span4">
          <p> Date of Birth </p>
          <p> <%= @person.DOB %> </p>
        </div>
        
        </div></div></div>        

</div>

</div>