<head>
	<script src="app/assets/javascripts/bootstrap.min.js"> </script>
</head>

<body>
<div class="page-header">
	<h1> Welcome Coordinator</h1>
</div>

<div class="bigContainer">
	<div class="span11 well">
		<h4>Upcoming Events</h4>
		List their events with a countdown to the side
	</div>
	<div  class="span11 well">
		<h4>On the Adgenda:</h4>
		<p>Create lists of all invitees who have not responded, rsvp, paid, etc.</p>
		<div class="span3 well-inner">
			<h6>NO RESPONSE</h6>
			<ul class="unstyled">
				<li>Sara Humel</li>
				<li>Hannah Kim</li>
				<li>Delia Zhao</li>
			</ul>
		</div>
		<div class="span3 well-inner">
			<h6>NO RSVP</h6>
			<ul class="unstyled">
				<li>Sara Humel</li>
				<li>Hannah Kim</li>
				<li>Delia Zhao</li>
			</ul>
		</div>
		<div class="span3 well-inner">
			<h6>NOT PAID</h6>
			<ul class="unstyled">
				<li>Sara Humel</li>
				<li>Hannah Kim</li>
				<li>Delia Zhao</li>
			</ul>
		</div>

	</div>
	<div  class="span11 well">
		<h4>Comments from:</h4>
			<ul class="nav nav-pills">
				<li class="active">
					<a href="#">Today</a>
				<li>Today</li>
				<li>Yesterday</li>
				<li>Week</li>
				<li>All</li>
			</ul>
		<p>Comments from x amount of days... made by employees/volunteers of the events </p>
		<div class="span9 well-inner">
			<dl class="dl-horizontal">
				<dt>Name</dt>
				<dd>This is a comment. It is beautiful in every way. You should love it like I love you.</dd>
				<dt>Another Name</dt>
				<dd>This is the comment. It is the second comment in the list.</dd>
			</dl>
		</div>	

	</div>
</div>
</body>