<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @support_service.name %>
</p>

<%= link_to 'Edit', edit_support_service_path(@support_service) %> |
<%= link_to 'Back', support_services_path %>
